openapi: 3.0.3
info:
    title: OnTheGo2Africa
    description: ''
    version: 1.0.0
servers:
    -
        url: 'https://onthego-api.ratecardly.com'
paths:
    /api/users:
        get:
            summary: 'GET /users'
            description: 'Get a list of all users'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    data: [{ name: 'Prof. Keanu Zemlak II', username: zoe03, email: wilburn89@example.com, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 58 }, { name: 'Nat Harris', username: torp.torrey, email: cole.birdie@example.net, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 59 }]
                                properties:
                                    data: { type: array, example: [{ name: 'Prof. Keanu Zemlak II', username: zoe03, email: wilburn89@example.com, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 58 }, { name: 'Nat Harris', username: torp.torrey, email: cole.birdie@example.net, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 59 }], items: { type: object } }
            tags:
                - 'Admin APIs'
            security: []
        put:
            summary: 'PUT /users'
            description: 'Update the user in storage.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    data: { name: 'Tania Hagenes', username: mekhi71, email: sheridan.gerlach@example.net, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 57 }
                                properties:
                                    data: { type: object, example: { name: 'Tania Hagenes', username: mekhi71, email: sheridan.gerlach@example.net, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 57 } }
            tags:
                - 'User APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: ''
                                    example: non
                                username:
                                    type: string
                                    description: ''
                                    example: id
                            required:
                                - name
                                - username
            security: []
    /api/admins:
        get:
            summary: 'GET /admins'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                401:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - 'Admin APIs'
            security: []
        post:
            summary: 'POST /admins'
            description: 'Store a newly created admin in storage.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Admin APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: ''
                                    example: illo
                                username:
                                    type: string
                                    description: ''
                                    example: est
                                email:
                                    type: string
                                    description: ''
                                    example: rerum
                                password:
                                    type: string
                                    description: ''
                                    example: rerum
                                password_confirmation:
                                    type: string
                                    description: ''
                                    example: quia
                            required:
                                - name
                                - username
                                - email
                                - password
                                - password_confirmation
            security: []
        put:
            summary: 'PUT /admins'
            description: 'Update the admin in storage.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Admin APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: ''
                                    example: est
                                username:
                                    type: string
                                    description: ''
                                    example: accusamus
                            required:
                                - name
                                - username
            security: []
        delete:
            summary: 'Remove the Admin from storage.'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Admin APIs'
            security: []
    '/api/admins/{id}':
        get:
            summary: 'GET /admin/id'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                401:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - 'Admin APIs'
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: omnis
                required: true
                schema:
                    type: string
    /api/reservations:
        get:
            summary: 'GET /reservations'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                401:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - 'Booking APIs'
            security: []
    '/api/book-tour/{id}':
        post:
            summary: 'POST /book-tour'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Booking APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                number_of_guests:
                                    type: string
                                    description: ''
                                    example: occaecati
                                check_in:
                                    type: string
                                    description: ''
                                    example: ut
                                check_out:
                                    type: string
                                    description: ''
                                    example: nam
                                cost:
                                    type: string
                                    description: ''
                                    example: doloremque
                                paymentID:
                                    type: string
                                    description: ''
                                    example: quo
                            required:
                                - number_of_guests
                                - check_in
                                - check_out
                                - cost
                                - paymentID
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: quo
                required: true
                schema:
                    type: string
    '/api/book-event/{id}':
        post:
            summary: 'POST /book-event'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Booking APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                number_of_guests:
                                    type: string
                                    description: ''
                                    example: recusandae
                                check_in:
                                    type: string
                                    description: ''
                                    example: voluptates
                                check_out:
                                    type: string
                                    description: ''
                                    example: maiores
                                cost:
                                    type: string
                                    description: ''
                                    example: non
                                paymentID:
                                    type: string
                                    description: ''
                                    example: maxime
                            required:
                                - number_of_guests
                                - check_in
                                - check_out
                                - cost
                                - paymentID
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: perferendis
                required: true
                schema:
                    type: string
    '/api/reservations/{id}':
        get:
            summary: 'GET /reservations/id'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                401:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - 'Booking APIs'
            security: []
        put:
            summary: 'PUT /reservations/id'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Booking APIs'
            security: []
        delete:
            summary: 'DELETE /reservations'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Booking APIs'
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: dicta
                required: true
                schema:
                    type: string
    /sanctum/csrf-cookie:
        get:
            summary: 'Return an empty response simply to trigger the storage of the CSRF cookie in the browser.'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - Endpoints
            security: []
    /:
        get:
            summary: Stale
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    returns: 'success page'
                                properties:
                                    returns: { type: string, example: 'success page' }
            tags:
                - Endpoints
            security: []
    /api/events:
        get:
            summary: 'GET /events'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    events: []
                                properties:
                                    events: { type: array, example: [] }
            tags:
                - 'Event APIs'
            security: []
        post:
            summary: 'POST /events'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Event APIs'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: omnis
                                cover_image:
                                    type: string
                                    format: binary
                                    description: ''
                                overview:
                                    type: string
                                    description: ''
                                    example: dolorem
                                itenary:
                                    type: string
                                    description: ''
                                    example: omnis
                                cost:
                                    type: string
                                    description: ''
                                    example: non
                                'images[]':
                                    type: array
                                    description: ''
                                    example: veritatis
                            required:
                                - title
                                - cover_image
                                - overview
                                - itenary
                                - cost
                                - 'images[]'
            security: []
    '/api/events/{slug}':
        get:
            summary: 'GET /events/slug'
            description: 'Fetch event with slug'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    event: { id: 1, title: dgs, slug: dgs, cover_image: 'http://127.0.0.1:8000/storage/cover_images/lheicfYAjrZTfqlbDutpqUIpS9ueefojUyYDsDYx.jpg', overview: skflalkjflfkj, itenary: dsfsf, cost: dsf, created_at: '2023-08-16T14:11:19.000000Z', updated_at: '2023-08-16T14:11:19.000000Z', images: [] }
                                properties:
                                    event: { type: object, example: { id: 1, title: dgs, slug: dgs, cover_image: 'http://127.0.0.1:8000/storage/cover_images/lheicfYAjrZTfqlbDutpqUIpS9ueefojUyYDsDYx.jpg', overview: skflalkjflfkj, itenary: dsfsf, cost: dsf, created_at: '2023-08-16T14:11:19.000000Z', updated_at: '2023-08-16T14:11:19.000000Z', images: [] } }
            tags:
                - 'Event APIs'
            security: []
        parameters:
            -
                in: path
                name: slug
                description: ''
                example: iure
                required: true
                schema:
                    type: string
    '/api/events/{id}':
        put:
            summary: 'PUT /events'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Event APIs'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: in
                                cover_image:
                                    type: string
                                    format: binary
                                    description: ''
                                overview:
                                    type: string
                                    description: ''
                                    example: earum
                                itenary:
                                    type: string
                                    description: ''
                                    example: enim
                                cost:
                                    type: string
                                    description: ''
                                    example: fuga
                                'images[]':
                                    type: array
                                    description: ''
                                    example: qui
                            required:
                                - title
                                - cover_image
                                - overview
                                - itenary
                                - cost
                                - 'images[]'
            security: []
        delete:
            summary: 'DELETE /events'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Event APIs'
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: ea
                required: true
                schema:
                    type: string
    /api/faqs:
        get:
            summary: 'GET /faqs'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    faqs: []
                                properties:
                                    faqs: { type: array, example: [] }
            tags:
                - 'FAQ APIs'
            security: []
        post:
            summary: 'POST /faqs'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'FAQ APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: repellendus
                                content:
                                    type: string
                                    description: ''
                                    example: ex
                            required:
                                - title
                                - content
            security: []
    '/api/faqs/{id}':
        get:
            summary: 'GET /faqs/id'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                401:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - 'FAQ APIs'
            security: []
        put:
            summary: 'PUT /faqs/id'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'FAQ APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: quibusdam
                                content:
                                    type: string
                                    description: ''
                                    example: eum
                            required:
                                - title
                                - content
            security: []
        delete:
            summary: 'DELETE /faqs'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'FAQ APIs'
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: eum
                required: true
                schema:
                    type: string
    /api/newsletter-subscriptions:
        get:
            summary: 'GET /newsletter'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    newsletters: []
                                properties:
                                    newsletters: { type: array, example: [] }
            tags:
                - 'NewsLetter APIs'
            security: []
    /api/newsletter-subscribe:
        post:
            summary: 'POST /newsletter-subscribe'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'NewsLetter APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    description: ''
                                    example: aperiam
                            required:
                                - email
            security: []
    /api/tours:
        get:
            summary: 'GET /tours'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    tours: []
                                properties:
                                    tours: { type: array, example: [] }
            tags:
                - 'Tour APIs'
            security: []
        post:
            summary: 'POST /tours'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Tour APIs'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: qui
                                cover_image:
                                    type: string
                                    format: binary
                                    description: ''
                                overview:
                                    type: string
                                    description: ''
                                    example: atque
                                itenary:
                                    type: string
                                    description: ''
                                    example: sit
                                cost:
                                    type: string
                                    description: ''
                                    example: harum
                                'images[]':
                                    type: array
                                    description: ''
                                    example: mollitia
                            required:
                                - title
                                - cover_image
                                - overview
                                - itenary
                                - cost
                                - 'images[]'
            security: []
    '/api/tours/{slug}':
        get:
            summary: 'GET /tours/slug'
            description: 'Fetch tour with slug'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    tour: { id: 1, title: dgs, slug: dgs, cover_image: 'http://127.0.0.1:8000/storage/cover_images/lheicfYAjrZTfqlbDutpqUIpS9ueefojUyYDsDYx.jpg', overview: skflalkjflfkj, itenary: dsfsf, cost: dsf, created_at: '2023-08-16T14:11:19.000000Z', updated_at: '2023-08-16T14:11:19.000000Z', images: [] }
                                properties:
                                    tour: { type: object, example: { id: 1, title: dgs, slug: dgs, cover_image: 'http://127.0.0.1:8000/storage/cover_images/lheicfYAjrZTfqlbDutpqUIpS9ueefojUyYDsDYx.jpg', overview: skflalkjflfkj, itenary: dsfsf, cost: dsf, created_at: '2023-08-16T14:11:19.000000Z', updated_at: '2023-08-16T14:11:19.000000Z', images: [] } }
            tags:
                - 'Tour APIs'
            security: []
        parameters:
            -
                in: path
                name: slug
                description: ''
                example: perferendis
                required: true
                schema:
                    type: string
    '/api/tours/{id}':
        put:
            summary: 'PUT /tours'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Tour APIs'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: ipsam
                                cover_image:
                                    type: string
                                    format: binary
                                    description: ''
                                overview:
                                    type: string
                                    description: ''
                                    example: repellat
                                itenary:
                                    type: string
                                    description: ''
                                    example: iusto
                                cost:
                                    type: string
                                    description: ''
                                    example: in
                                'images[]':
                                    type: array
                                    description: ''
                                    example: temporibus
                            required:
                                - title
                                - cover_image
                                - overview
                                - itenary
                                - cost
                                - 'images[]'
            security: []
        delete:
            summary: 'DELETE /tours'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'Tour APIs'
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: eaque
                required: true
                schema:
                    type: string
    /api/register:
        post:
            summary: 'POST /register'
            description: 'Store a newly created user in storage.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    data: { name: 'Koby Price', username: araceli27, email: mittie.spinka@example.org, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 55 }
                                properties:
                                    data: { type: object, example: { name: 'Koby Price', username: araceli27, email: mittie.spinka@example.org, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 55 } }
            tags:
                - 'User APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: ''
                                    example: illum
                                username:
                                    type: string
                                    description: ''
                                    example: consequatur
                                email:
                                    type: string
                                    description: ''
                                    example: culpa
                                password:
                                    type: string
                                    description: ''
                                    example: dignissimos
                                password_confirmation:
                                    type: string
                                    description: ''
                                    example: est
                            required:
                                - name
                                - username
                                - email
                                - password
                                - password_confirmation
            security: []
    /api/forgot-password:
        post:
            summary: 'POST /forgot-password'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'User APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    description: ''
                                    example: repudiandae
                            required:
                                - email
            security: []
    /api/login:
        post:
            summary: 'POST /login'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    data: { name: 'Ezekiel Aufderhar', username: zkautzer, email: koss.anibal@example.net, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 56 }
                                properties:
                                    data: { type: object, example: { name: 'Ezekiel Aufderhar', username: zkautzer, email: koss.anibal@example.net, email_verified_at: '2023-08-30T13:54:01.000000Z', updated_at: '2023-08-30T13:54:01.000000Z', created_at: '2023-08-30T13:54:01.000000Z', id: 56 } }
            tags:
                - 'User APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    description: ''
                                    example: officiis
                                password:
                                    type: string
                                    description: ''
                                    example: exercitationem
                            required:
                                - email
                                - password
            security: []
    /api/email/verification-notification:
        post:
            summary: 'Send Verify Email Link'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'User APIs'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    description: ''
                                    example: neque
                            required:
                                - email
            security: []
    '/api/verify-email/{id}/{hash}':
        get:
            summary: 'Verify Email - Backend Only'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    returns: 'success page'
                                properties:
                                    returns: { type: string, example: 'success page' }
            tags:
                - 'User APIs'
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: illum
                required: true
                schema:
                    type: string
            -
                in: path
                name: hash
                description: ''
                example: unde
                required: true
                schema:
                    type: string
    /api/profile:
        get:
            summary: 'GET /profile'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                401:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - 'User APIs'
            security: []
    '/api/users/{id}':
        delete:
            summary: 'DELETE /users'
            description: 'Remove the specified resource from storage.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'User APIs'
            security: []
        parameters:
            -
                in: path
                name: id
                description: ''
                example: asperiores
                required: true
                schema:
                    type: string
    /api/logout:
        post:
            summary: 'POST /logout'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - 'User APIs'
            security: []
